@charset "UTF-8";

:root{

}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.superior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-bottom: 1px solid lightgray;
    padding-left: 30px;
    padding-right: 30px;
}

img.logo {
    max-width: 300px;
    max-height: 200px;
}

.navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    border-bottom: 1px solid lightgray;
    padding-left: 30px;
    padding-right: 30px;
}

.menu1 {
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}

.menu1:hover {
    color: darkolivegreen;
}

.menu2 {
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}

.menu2:hover {
    color: firebrick;
}

.menu3 {
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}

.menu3:hover {
    color: darkblue;
}

.menu4 {
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}

.menu4:hover {
    color: aquamarine;
}

.menu5 {
    font-weight: bold;
    font-size: 1.1em;
    color: white;
}

.menu5:hover {
    color: darkviolet;
}

.conteudo {
    display: flex;
    flex-direction: row;
}

.esquerda {
    width: 800px;
    border-right: 1px solid lightgrey;
}

.direita {
    width: 500px;
}

.texto1 {
    background-image: url("imagens/capa1.jpg");
    width: 700px;
    height: 500px;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    border-bottom: 10px solid darkblue;
}

.texto2 {
    background-image: url("imagens/pmp.jpg");
    width: 400px;
    height: 225px;
    margin: auto;
    margin-top: 25px;
    border-bottom: 10px solid darkgreen;
}

.texto3 {
    background-color: aquamarine;
    width: 400px;
    height: 225px;
    margin: auto;
    margin-top: 50px ;
}

